@import '../../assets/css/settings/mixins';
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 20px 0 20px;
  height: 500px;

  @media screen and (max-width: 360px) {
    @include imageCacheBust('../../../../public/images/celly-bg@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22px 16px 0 16px;
  }
}
