.wrapper {
  padding-top: 64px;
  padding-bottom: 96px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.downloading-animation {
  animation: spin 1s linear infinite;
}
