.user-info {
  border-radius: 13px;
  overflow: hidden;

  &__head {
    background-color: #3753d5;
    padding: 13px 12px 10px 12px;
    display: flex;

    > figure {
      width: 42px;
      height: 42px;
      margin-right: 16px;

      > img {
        width: 100%;
        display: block;
      }
    }

    > div {
      color: #fff;
      font-family: 'GreycliffCF', sans-serif;
      p {
        font-weight: 700;
        font-size: 21px;
      }

      span {
        font-weight: 400;
      }
    }
  }

  &__body {
    padding: 10px;
    background-color: #fff;

    .box {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: center;
    }

    > div:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
